
.control {
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*text-align: center;*/
    /*margin: 10px 20px;*/
    /*padding: 0 10px;*/
    /*border: 1px solid #ddd;*/
}

.control:not(:first-child) {
    margin-left: 10px;
}

.osc {
    margin-top: 10px;
}

.ctrl-value,
.ctrl-value-hex {
    padding: 5px 0;
}

.ctrl-value {
    font-size: 1.5rem;
}

.ctrl-value-hex {
    color: #999;
}

