.mod {
    margin: 0 0 0 0;
    /*border: 1px solid #aaa;*/
    border: none;
    background-color: #777;
    color: #000;
    font-size: 67%;

    /*padding: 1px 2px;*/

    position: relative;

    /*background: linear-gradient(left, black 50%, white 50%);*/
    width: 100%;
    /*background: -webkit-linear-gradient(to right, black 50%, white 50%);*/
    /*background: -moz-linear-gradient(to right, black 50%, white 50%);*/
    /*background: -ms-linear-gradient(to right, black 50%, white 50%);*/
    /*background: linear-gradient(to right, black 50%, white 50%);*/
}

.control-mods {
    width: 100%;
}

.control-mods .mod {
    /*margin-top: 3px;*/

    margin-top: 16px;
    height: 3px;

}

.mod-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.mod-text {
    /*padding-left: 5px;*/

    position: absolute;
    bottom: 3px;

    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;

    /*color: var(--mod-src-text);*/
}

/*
.mod-text.mod-src-cyc_env {
    color: var(--mod-src-text);
}
.mod-text.mod-src-env {
    color: var(--mod-src-text);
}
.mod-text.mod-src-lfo {
    color: var(--mod-src-text);
}
.mod-text.mod-src-press {
    color: var(--mod-src-text);
}
.mod-text.mod-src-key_arp {
    color: var(--mod-src-text);
}
*/

.mod-name {
    margin-right: 4px;
}

.mod-fill {
    position: absolute;
    top: 0;
    left: 0;
}