.mod {
    margin: 0 0 0 0;
    border: none;
    background-color: #777;
    color: #000;
    font-size: 67%;
    position: relative;
    width: 100%;
}

.control-mods {
    width: 100%;
}

.control-mods .mod {
    margin-top: 16px;
    height: 3px;
}

.mod-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.mod-text {
    font-weight: 300;
    position: absolute;
    bottom: 3px;
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

.mod-name {
    margin-right: 4px;
}

.mod-fill {
    position: absolute;
    top: 0;
    left: 0;
}