.knob {
    width: 60px;
}
.knob text {
    font-size: 1.8rem;     /* viewbox/width = 100/80 = 1.25 */
    fill: var(--knob-text);
}

.knob-track-bg {
    stroke: var(--knob-track-bg);
}

.knob-track {
    stroke: var(--knob-track);
}
