.ports-row {
    display: flex;
    margin: 5px 0 10px 0;
}

.ports-row > div {
    margin-right: 10px;
}

.ports-row select {
    margin-left: 5px;
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 2px 0;
    border: none;
}

