
.ports-grid {
    margin-bottom: 20px;
}

.port {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.port-name {
    font-weight: 700;
    margin: 2px 0;
}

.port-manufacturer {
}

.port-switch {
    /*position: absolute;*/
    /*right: 5px;*/
    /*top: 5px;*/
    margin-right: 10px;
}

.port.enabled {
}
