
.mod-matrix {
    /*padding: 5px;*/
    padding: 0 5px 5px 5px;
    background-color: var(--group-bg);
    border: var(--group-border);
    display: grid;
    grid-template-columns: repeat(8, minmax(5rem, auto));
    justify-content: start;
    /*font-size: 85%;*/
    /*margin: 20px 0;*/
}

.mod-matrix > div {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 4px 5px;
}

.mod-matrix-dest,
.mod-matrix-value {
    text-align: center;
}

.mod-matrix .mod-matrix-col-header {
    padding-left: 0;
}

.mod-matrix > .mod-matrix-col-header > div {
    padding: 0 2px;
}
