
.mod-matrix {
    padding: 5px 5px 5px 5px;
    background-color: var(--group-bg);
    display: grid;
    grid-template-columns: repeat(8, minmax(5rem, auto));
    justify-content: start;
}

.mod-matrix > div {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 0 5px;
}

.mod-matrix-dest,
.mod-matrix-value {
    text-align: center;
}

.mod-matrix-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mod-matrix .mod-matrix-col-header {
    padding: 2px 2px 2px 0;
}

.mod-matrix > .mod-matrix-col-header > div {
    padding-left: 2px;
}

.mod-matrix-value .mod {
    margin-bottom: 3px;
    margin-top: 16px;
    height: 3px;
}
