.presets-grid-right .presets-grid {
    /*max-height: calc(100vh - 82px);*/
    max-height: calc(100vh - 92px);
    overflow-y: auto;
    width: 200px;
    margin-left: 10px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    font-size: 85%;
    color: var(--presets-grid-text);
}

.presets-grid-bottom .presets-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 3px;
    font-size: 85%;
    color: var(--presets-grid-text);
}

.presets-grid > div {
    padding: 0 5px;
    cursor: pointer;
}

.presets-grid > div:hover {
    background-color: var(--direct-access-hover-bg);
    color: var(--direct-access-hover-text);
}

.presets-grid > .loaded {
    background-color: var(--presets-grid-loaded-bg);
}

.presets-grid > div.sel {
    background-color: var(--switch-sel-bg);
    color: var(--switch-sel-text);
}

