.preset-selector > div {
    margin-bottom: 5px;
}

.preset-selector button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 2px 10px;
    font-size: 1.1rem;
    font-weight: 300;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.seq-access button {
    padding: 2px 10px;
}

.midi-ko button.button-midi {
    color: var(--button-disabled-text);
    background-color: var(--button-disabled-bg);
}

button:hover {
    background-color: var(--button-hover-bg);
}

.read-button {
    padding-left: 25px!important;
    padding-right: 25px!important;
}

button.abort {
    background-color: var(--abort-button-bg);
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.read-button.ok {
    background-color: var(--read-button-bg) !important;
}
.read-button.ok:hover {
    background-color: var(--read-button-hover-bg) !important;
}

.preset-selector #preset {
    padding: 0 5px 0 0;
    width: 3rem;
    font-size: 1.2rem;
    text-align: right;
    background-color: var(--preset-number-bg);
    color: var(--preset-number-text);
    border: var(--input-border);
}

.seq-access {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seq-access > * {
    margin-right: 5px;
}

.direct-access {
    position: absolute;
    right: 10px;
    background-color: var(--direct-access-bg);
    box-shadow: -10px 10px 10px 5px rgba(0,0,0,1.5);
    margin: 5px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    justify-content: start;
    font-size: 0.85rem;
}

.seq-access > div,
.direct-access > div {
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid var(--direct-access-border);
    cursor: pointer;
    text-align: right;
}

.direct-access > div:hover {
    background-color: var(--direct-access-hover-bg);
    color: var(--direct-access-hover-text);
}

.direct-access > div.sel {
    background-color: var(--switch-sel-bg);
    color: var(--switch-sel-text);
}

.aborting {
    margin-left: 5px;
}

select.preloader {
    /*background-color: var(--button-bg);*/
    /*color: var(--button-text);*/
    font-weight: 300;
}

select.preloader option {
    font-weight: 300;
}
