.presets-grid-right .presets-grid {
    /*max-height: calc(100vh - 82px);*/
    max-height: calc(100vh - 92px);
    overflow-y: auto;
    width: 200px;
    margin-left: 10px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    font-size: 85%;
    color: var(--presets-grid-text);
}

.presets-grid::-webkit-scrollbar {
    width: 1em;
}
.presets-grid::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: var(--scrollbar-track);
}
.presets-grid::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    /*outline: 1px solid slategrey;*/
}

.presets-grid-bottom .presets-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;
    font-size: 85%;
    color: var(--presets-grid-text);
}

.presets-grid > div {
    padding: 0 5px;
    cursor: pointer;
    display:flex;
}

.g-n {
    margin-left: 5px;
    flex-grow: 2;
}

.presets-grid > div:hover {
    background-color: var(--direct-access-hover-bg);
    color: var(--direct-access-hover-text);
}

.presets-grid > .loaded {
    background-color: var(--presets-grid-loaded-bg);
}

.presets-grid > div.sel {
    background-color: var(--switch-sel-bg);
    color: var(--switch-sel-text);
}

