.preset-selector {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*font-size: 0.85rem;*/
}

.preset-selector #preset {
    font-size: 1.5rem;
    text-align: right;
    background-color: transparent;
    color: white;
}

.seq-access {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seq-access > * {
    margin-right: 10px;
}

.direct-access {
    position: absolute;
    right: 0;
    background-color: var(--direct-access-bg);
    box-shadow: -10px 10px 10px 5px rgba(0,0,0,1.5);
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    margin: 5px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    justify-content: start;
    font-size: 0.85rem;
}
.seq-access > div,
.direct-access > div {
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid var(--direct-access-border);
    cursor: pointer;
    text-align: right;
}

/*.seq-access > div:hover,*/
.direct-access > div:hover {
    background-color: var(--direct-access-hover-bg);
}

/*.seq-access > div.sel,*/
.direct-access > div.sel {
    background-color: var(--direct-access-sel-bg);
}

/*.toggle {*/
/*    cursor: pointer;*/
/*}*/