.shorturl-icon {
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.shorturl-icon button {
    background-color: var(--midi-select-bg);
    color: var(--midi-select-text);
    border: var(--input-border);
    font-size: 1rem;
    font-weight: 300;
    border-radius: 3px;
}

.share-label {
    font-weight: 300;
    color: var(--header-select-text);
}

.share-link {
    color: var(--knob-text);
    font-weight: 300;
    margin: 0 10px 0 5px;
}