.switch {
    min-width: 30px;
}

.switch:not(:first-child) {
    margin-left: 10px;
}

.sw-values {
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
}

.layout-2-cols {
    /*display: grid;*/
    grid-template-columns: auto auto;
    grid-column-gap: 2px;
}

.layout-1-row {
    display: flex;
    flex-direction: row;
}
.layout-1-row > div {
    padding: 0 5px;
}

.sw-val {
    margin-bottom: 2px;
    padding: 1px 3px 0 2px;
    color: #aaa;
}

.sw-sel {
    color: var(--switch-sel-text);
    background-color: var(--switch-sel-bg);
}

.switch .ctrl-name {
    margin-bottom: 5px;
}