
.app-wrapper.presets-grid-right {
    margin: 0 auto;
    max-width: 1420px;
}

.app-wrapper.presets-grid-bottom,
.app-wrapper.presets-grid-none {
    margin: 0 auto;
    max-width: 1200px;
}

.presets-grid-right .App {
    display: flex;
    flex-direction: row;
    /*margin: 0 10px;*/
}

.presets-grid-bottom .App {
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #dddddd;
    color: #333;
    padding: 5px;
}

.warning.banner {
    background-color: #e45209;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.header a {
    /*color: var(--link);*/
    text-decoration: none;
    /*font-weight: 300;*/
    /*margin-right: 5px;*/
}

/*
.header a:visited {
    color: var(--link);
}
*/

.header select {
    margin-left: 5px;
    background-color: var(--header-select-bg);
    color: var(--header-select-text);
    border-color: var(--header-select-border);
    font-size: 0.9rem;
    font-weight: 300;
}

/*
footer {
    margin-top: 10px;
    !*border-top: 1px solid var(--footer);*!
    padding-top: 2px;
    color: var(--footer);
    font-size: 0.75rem;
}
*/
.link {
    text-decoration: none;
    color: var(--link);
}

.copyright {
    text-align: right;
    /*color: var(--footer);*/
    font-size: 0.75rem;
}

.copyright a {
    text-decoration: none;
    color: var(--link);
}

.copyright a:visited {
    color: var(--link);
}

.title {
    font-size: 2rem;
    display: flex;
    color: var(--title-text);
    flex-grow: 1;
}

.main-grid {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: stretch;
    align-items: stretch;
}

.group {
    background-color: var(--group-bg);
    border: var(--group-border);
}

.controls {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

h3 {
    grid-column: span 2;
    margin: 0 0 0 0;
    padding: 5px 5px;
    border-bottom: var(--group-header-border);
    background-color: var(--group-header);
    font-weight: 400;
}

.matrix  {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.preset  {
    grid-column: 3;
    grid-row: 1;
}

.preset-wrapper {
    padding: 5px;
}

.oscillator {
    grid-column: 1;
    grid-row: 2;
}

.filter {
    grid-column: 2;
    grid-row: 2;
}

.cycling-env {
    grid-column: 3;
    grid-row: 2;
}

.arp-seq {
    grid-column: 1;
    grid-row: 3;
}

.lfo {
    grid-column: 2;
    grid-row: 3;
}

.env {
    grid-column: 3;
    grid-row: 3;
}

.keyboard {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.instructions {
    grid-column: 3;
    grid-row: 4;
    padding: 5px;
    /*font-family: sans-serif;*/
    font-size: 14px;
    font-weight: 300;
    color: var(--instructions-text);
}

.instructions h3 {
    grid-column: span 2;
    margin: 0 0 0 0;
    padding: 5px 0;
    border-bottom: var(--main-bg);
    background-color: var(--main-bg);
    font-weight: 400;
}

.instructions ol {
    margin: 0;
    padding: 0 0 0 20px;
}

.instructions li {
    margin: 0;
    /*margin-bottom: 3px;*/
}

.instructions > div {
    /*margin-bottom: 10px;*/
}

button,
input {
    font-family: 'Oswald', sans-serif;
}

select {
    margin-right: 5px;
    background-color: var(--midi-select-bg);
    color: var(--midi-select-text);
    border: var(--input-border);
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
