body {
    /*margin: 20px 40px;*/
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    background: var(--main-bg);
    color: var(--text);
}

button,
input {
    font-family: 'Oswald', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.space-right {
    margin-right: 10px;
}

#root {
    margin: 0 auto;
    max-width: 1200px;
}