body {
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    background: var(--main-bg);
    color: var(--text);
}

button {
    outline: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.space-right {
    margin-right: 10px;
}

#root {
    margin: 0 auto;
    max-width: 1400px;
}

.no-bold {
    font-weight: 300!important;
}