/* default is 'light' */

.mod-src-cyc_env {
    color: var(--mod-src-cyc_env-text);
}
.mod-src-env {
    color: var(--mod-src-env-text);
}
.mod-src-lfo {
    color: var(--mod-src-lfo-text);
}
.mod-src-press {
    color: var(--mod-src-press-text);
}
.mod-src-key_arp {
    color: var(--mod-src-key_arp-text);
}

.mod-src-cyc_env-text {
    color: var(--mod-src-cyc_env);
}
.mod-src-env-text {
    color: var(--mod-src-env);
}
.mod-src-lfo-text {
    color: var(--mod-src-lfo);
}
.mod-src-press-text {
    color: var(--mod-src-press);
}
.mod-src-key_arp-text {
    color: var(--mod-src-key_arp);
}

.mod-src-cyc_env-bg {
    background-color: var(--mod-src-cyc_env);
}
.mod-src-env-bg {
    background-color: var(--mod-src-env);
}
.mod-src-lfo-bg {
    background-color: var(--mod-src-lfo);
}
.mod-src-press-bg {
    background-color: var(--mod-src-press);
}
.mod-src-key_arp-bg {
    background-color: var(--mod-src-key_arp);
}

html {
    --main-bg: #fff;
    --text: #000;
    --title-text: #222;
    --footer: #ccc;
    --input-border: 1px solid #aaa;
    --progress: #ccc;
    --group-bg: #fff;
    --group-border: 1px solid #eee;
    --group-header: #eee;
    --group-header-border: 1px solid #aaa;
    --switch-sel-bg: #42A5F5;
    --switch-sel-text: #fff;
    --knob-track-bg: #CFD8DC;
    --knob-track: #42A5F5;
    --knob-text: #000;
    --direct-access-bg: #fff;
    --direct-access-loaded-bg: #ddd;
    --direct-access-border: #ccc;
    --direct-access-hover-bg: burlywood!important;
    /*--direct-access-sel-bg: #decea5;*/
    --presets-grid-text: #333;
    --presets-grid-loaded-bg: #f0f0f2;
    --mod-src-cyc_env : #fff5cf;
    --mod-src-env: #d1e7ff;
    --mod-src-lfo: #ffd4e5;
    --mod-src-press: #94ffa5;
    --mod-src-key_arp: #f0baff;
    --mod-src-cyc_env-text : #000;
    --mod-src-env-text: #000;
    --mod-src-lfo-text: #000;
    --mod-src-press-text: #000;
    --mod-src-key_arp-text: #000;
    --mod-src-bg: #e8e8ea;
    --abort-button-bg: #ff7272;
    --instructions-text: #666;
}

@media screen {

    html[data-theme='dark'] {
        --main-bg: #111;
        --text: #fff;
        --title-text: #f8f8f8;
        --footer: #444;
        --progress: #34ab33;
        --input-border: 1px solid #393939;
        --group-bg: #222831;
        --group-border: none;
        --group-header: #393e46;
        --group-header-border: 2px solid #000;
        --switch-sel-bg: #ecc53a;
        --switch-sel-text: #000;
        --knob-track-bg: #494949;
        --knob-track: #eec83f;
        --knob-text: #eec83f;
        --direct-access-bg: #000;
        --direct-access-loaded-bg: #333;
        --direct-access-border: #555;
        --direct-access-hover-bg: yellow !important;
        --direct-access-hover-text: #000 !important;
        /*--direct-access-sel-bg: #ecc53a;*/
        --presets-grid-text: #ccc;
        --presets-grid-loaded-bg: #1b1f26;
        --mod-src-cyc_env: #fff5cf;
        --mod-src-env: #d1e7ff;
        --mod-src-lfo: #ffd4e5;
        --mod-src-press: #94ffa5;
        --mod-src-key_arp: #f0baff;
        --mod-src-cyc_env-text: #000;
        --mod-src-env-text: #000;
        --mod-src-lfo-text: #000;
        --mod-src-press-text: #000;
        --mod-src-key_arp-text: #000;
        /*--mod-src-bg: #777;*/
        --mod-src-bg: #393e46;
        --mod-src-text: #eec83f;
        --abort-button-bg: #ff1313;
        --instructions-text: #aaa;
    }

    html[data-theme='darker'] {
        --main-bg: #000;
        --text: #fff;
        --title-text: #f0f0f0;
        --footer: #444;
        --progress: #34ab33;
        --input-border: 1px solid #393939;
        --group-bg: #212121;
        --group-border: none;
        --group-header: #212121;
        --group-header-border: 2px solid #000;
        --switch-sel-bg: #ecc53a;
        --switch-sel-text: #000;
        --knob-track-bg: #393939;
        --knob-track: #eec83f;
        --knob-text: #fff;
        --direct-access-bg: #000;
        --direct-access-loaded-bg: #333;
        --direct-access-border: #555;
        --direct-access-hover-bg: yellow !important;
        --direct-access-hover-text: #000 !important;
        /*--direct-access-sel-bg: #ecc53a;*/
        --presets-grid-text: #ccc;
        --presets-grid-loaded-bg: #1b1f26;
        --mod-src-cyc_env: #fff5cf;
        --mod-src-env: #d1e7ff;
        --mod-src-lfo: #ffd4e5;
        --mod-src-press: #94ffa5;
        --mod-src-key_arp: #f0baff;
        --mod-src-cyc_env-text: #000;
        --mod-src-env-text: #000;
        --mod-src-lfo-text: #000;
        --mod-src-press-text: #000;
        --mod-src-key_arp-text: #000;
        --mod-src-bg: #101010;
        --abort-button-bg: #ff3636;
        --instructions-text: #999;
    }

}