/* default is 'light' */

.mod-src-cyc_env {
    background-color: var(--mod-src-cyc_env);
    color: var(--mod-src-cyc_env-text);
}
.mod-src-env {
    background-color: var(--mod-src-env);
    color: var(--mod-src-env-text);
}
.mod-src-lfo {
    background-color: var(--mod-src-lfo);
    color: var(--mod-src-lfo-text);
}
.mod-src-press {
    background-color: var(--mod-src-press);
    color: var(--mod-src-press-text);
}
.mod-src-key_arp {
    background-color: var(--mod-src-key_arp);
    color: var(--mod-src-key_arp-text);
}

html {
    --main-bg: #fff;
    --text: #000;
    --input-border: 1px solid #aaa;
    --progress: #ccc;
    --group-bg: #fff;
    --group-border: 1px solid #eee;
    --group-header: #eee;
    --group-header-border: 1px solid #aaa;
    --switch-sel-bg: #42A5F5;
    --switch-sel-text: #fff;
    --knob-track-bg: #CFD8DC;
    --knob-track: #42A5F5;
    --knob-text: #000;
    --direct-access-bg: #fff;
    --direct-access-border: #ccc;
    --direct-access-hover-bg: burlywood!important;
    /*--direct-access-sel-bg: #decea5;*/
    --mod-src-cyc_env : #fff5cf;
    --mod-src-env: #d1e7ff;
    --mod-src-lfo: #ffd4e5;
    --mod-src-press: #94ffa5;
    --mod-src-key_arp: #f0baff;
    --mod-src-cyc_env-text : #000;
    --mod-src-env-text: #000;
    --mod-src-lfo-text: #000;
    --mod-src-press-text: #000;
    --mod-src-key_arp-text: #000;
}

html[data-theme='darker'] {
    --main-bg: #000;
    --text: #fff;
    --progress: #34ab33;
    --input-border: 1px solid #393939;
    --group-bg: #212121;
    --group-border: none;
    --group-header: #212121;
    --group-header-border: 2px solid #000;
    --switch-sel-bg: #ecc53a;
    --switch-sel-text: #000;
    --knob-track-bg: #393939;
    --knob-track: #eec83f;
    --knob-text: #eec83f;
    --direct-access-bg: #000;
    --direct-access-border: #555;
    --direct-access-hover-bg: yellow!important;
    --direct-access-hover-text: #000!important;
    /*--direct-access-sel-bg: #ecc53a;*/
    --mod-src-cyc_env : #fff5cf;
    --mod-src-env: #d1e7ff;
    --mod-src-lfo: #ffd4e5;
    --mod-src-press: #94ffa5;
    --mod-src-key_arp: #f0baff;
    --mod-src-cyc_env-text : #000;
    --mod-src-env-text: #000;
    --mod-src-lfo-text: #000;
    --mod-src-press-text: #000;
    --mod-src-key_arp-text: #000;
}

html[data-theme='dark'] {
    --main-bg: #111;
    --text: #fff;
    --progress: #34ab33;
    --input-border: 1px solid #393939;
    --group-bg: #222831;
    --group-border: none;
    --group-header: #393e46;
    --group-header-border: 2px solid #000;
    --switch-sel-bg: #ecc53a;
    --switch-sel-text: #000;
    --knob-track-bg: #494949;
    --knob-track: #eec83f;
    --knob-text: #eec83f;
    --direct-access-bg: #000;
    --direct-access-border: #555;
    --direct-access-hover-bg: yellow!important;
    --direct-access-hover-text: #000!important;
    /*--direct-access-sel-bg: #ecc53a;*/
    --mod-src-cyc_env : #fff5cf;
    --mod-src-env: #d1e7ff;
    --mod-src-lfo: #ffd4e5;
    --mod-src-press: #94ffa5;
    --mod-src-key_arp: #f0baff;
    --mod-src-cyc_env-text : #000;
    --mod-src-env-text: #000;
    --mod-src-lfo-text: #000;
    --mod-src-press-text: #000;
    --mod-src-key_arp-text: #000;
}
